/* @tailwind base;
@tailwind components;
@tailwind utilities;
*/
body {
    background-color: #101322; /* 배경 색상 설정 */
    color: #ffffff; /* 기본 텍스트 색상 설정 */
}

.navbar {
    background-color: #4263EB; /* 상단바 배경 색상 설정 */
    color: #ffffff; /* 상단바 텍스트 색상 설정 */
    /*padding: 10px 20px; 내용과의 간격 설정 */
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 내용을 양쪽 끝으로 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}


#intro .header-content {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-left: 1rem;
    margin-right: 1rem;
}


#intro .logo img {
    max-width: 200px ; /* 최대 너비 설정  */
    height: auto; /* 비율 유지  */
}

#intro .btn-login {
    padding: 0.5rem 1rem; /* 패딩값 조절 */
    font-size: 1rem; /* 폰트 크기 조절 */
    background-color: #101322; /* 배경색상 */
    color: #ffffff; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 0.25rem; /* 모서리 둥글게 */
    margin-left: auto; /* 버튼을 오른쪽으로 이동 */
    cursor: pointer; /* 포인터 커서 */
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro .header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 호버 시 배경색상 변경
#intro .btn-login:hover {
    background-color: #1b1e26;  
}
*/


@media (max-width: 768px) {
    #intro .logo img {
        max-width: 25px !important; /* 작은 화면에 맞게 크기 조절 (우선순위 높임) */
        height: auto !important; /* 비율 유지 (우선순위 높임) */
    }

    #intro .btn-login {
        padding: 0.5rem 1rem; /* 작은 화면에 맞게 패딩값 조절 */
        font-size: 0.875rem; /* 작은 화면에 맞게 폰트 크기 조절 */
    }
}



/* Container for the main content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
}

/* Container for the entire content area */
.content-container {
    width: 100%;
    max-width: 64rem; /* 4xl in Tailwind */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* space-y-4 in Tailwind */
}

.youtube-container {
    align-items: center;
}

/* Container for each image and its text */
.image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Text container styling for vertical alignment */
.text-container { /* 추가 */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
    margin-bottom: 1rem; /* 이미지와의 간격 조정 */
    margin-left: 1rem;
}

.text-bold {
    font-weight: bold;
}

/* Main image styling */
.main-image {
    max-width: 60%;
    height: auto;
}

@media (min-width: 1024px) {
    .image-text-container {
        flex-direction: row;
    }
    .text-container {
        margin-right: 1rem; /* 이미지와 텍스트 사이의 간격 조정 */
    }
    .text {
        margin-left: 0;
        margin-top: 0;
    }
}

/* Small screen adjustments */
@media (max-width: 768px) {
    .main-image {
        max-width: 100%;
    }
    .text {
        margin-top: 1rem;
    }
}

.Footer-content {
    color: #586A85;
}
