@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Nanum+Gothic&family=Nanum+Myeongjo&family=Nanum+Pen+Script&family=Do+Hyeon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-darkBg;
}

/* 
html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
} */
.gradient-text {
  background: linear-gradient(to bottom right, palegoldenrod, gold, darkgoldenrod);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
.Noto-Sans-KR {
  font-family: 'Noto Sans KR', sans-serif;
}

.Nanum-Gothic {
  font-family: 'Nanum Gothic', sans-serif;
}

.Nanum-Myeongjo {
  font-family: 'Nanum Myeongjo', serif;
}

.Nanum-Pen-Script {
  font-family: 'Nanum Pen Script', cursive;
}

.Do-Hyeon {
  font-family: 'Do Hyeon', sans-serif;
}